# Entorno Virtual
venv/

# Archivos de caché de Python
__pycache__/
*.pyc

# Archivos de base de datos local
*.sqlite3
db.sqlite3

# Archivos de entorno
.env

# Archivos de IDEs
.vscode/
.idea/

# Archivos de registro
*.log
*.log.*
.__logs.lock

# Archivos de medios (subidos por usuarios)
media/

# Directorio de archivos estáticos para producción (generado por collectstatic)
staticfiles/
static_root/
