# Archivos de entorno virtual
venv/
env/

# Archivos de configuración local y secretos
.env
*.env

# Base de datos de desarrollo de Django
db.sqlite3

# Archivos de logs
*.log
logs/

# Archivos de caché y compilados de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Carpetas de archivos estáticos y media generados por Django
/staticfiles/
/media/

# Archivos de configuración de IDEs
.vscode/
.idea/

# Archivos del sistema operativo
.DS_Store
Thumbs.db