/* CSS para registrar/editar aplicación (layout de 2 columnas) */

.page-header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
}

.page-title {
    color: var(--color-blanco);
    font-weight: 400;
    margin-bottom: 25px;
}

.table-container {
    background-color: var(--color-morado);
    padding: 30px 40px;
    border-radius: 8px;
    border: 1px solid var(--color-purpura);
    width: 80%;
    max-width: 1000px;
    margin-top: 20px;
    box-sizing: border-box;
}

.registration-form-layout {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    width: 100%;
    /* <-- AJUSTE REALIZADO */
}

.form-left-column,
.form-right-column {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-group {
    text-align: left;
}

.form-group label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: var(--color-texto-secundario);
}

.form-group input,
.form-group select,
.form-group textarea {
    width: 100%;
    background-color: var(--color-morado-oscuro);
    color: var(--color-blanco);
    border: 1px solid var(--color-texto-secundario);
    border-radius: 4px;
    padding: 12px;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-size: 1em;
    transition: border-color 0.3s, box-shadow 0.3s;
    resize: none;
}

.form-group input:focus,
.form-group select:focus,
.form-group textarea:focus {
    outline: none;
    border-color: var(--color-purpura);
    box-shadow: 0 0 8px rgba(255, 0, 84, 0.5);
}

.form-actions {
    display: flex;
    justify-content: center;
    /* Botones centrados */
    gap: 20px;
    align-items: center;
    margin-top: 40px;
    padding-top: 20px;
    border-top: 1px solid var(--color-purpura);
}

.btn.btn-primary,
.form-actions button {
    background-color: var(--color-purpura);
    color: white;
    padding: 12px 25px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s;
    cursor: pointer;
    font-size: 1em;
}

.btn.btn-primary:hover,
.form-actions button:hover {
    background-color: var(--color-purpura-oscuro);
}

.btn.btn-secondary {
    background-color: transparent;
    border: 1px solid var(--color-gris-ceramica);
    color: var(--color-gris-ceramica);
    padding: 12px 25px;
    font-weight: bold;
    text-decoration: none;
    transition: all 0.3s ease;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

.btn.btn-secondary:hover {
    background-color: var(--color-purpura);
    color: var(--color-blanco);
    border-color: var(--color-purpura);
}